.button
{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

#welcome
{
  font-size: 20px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}

td
{
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em;
  background-color: grey;
}

img
{
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.opaque
{
  opacity: 0;
}

table
{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  border: 1px solid grey;
}

td.selected
{
  background-color: red;
}

.flip-container
{
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-perspective: 800px;
}

.flipper {
  position: absolute;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1.5s;
}

.flipped
{
  -webkit-transform: rotateY(180deg);
}

.side
{
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0 2px 5px #666;
}

.front
{
  height: 200px;
  width: 200px;
}

.back
{
  height: 200px;
  width: 200px;
  -webkit-transform: rotateY(180deg);
}
